body {
    background-image: url("y-so-serious-white.png");
}

select {
    font-size: 1.5rem;
}

a {
    color: cornflowerblue;
}

.large-display {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.wide-display{
    width: 100vw !important;
}

.convert-display-to-navbar{
    transition: all 0.5s;
    height: 20vh;
    width: 100vw;
}

@media screen and (max-width: 768px){
    .convert-display-to-navbar{
        transition: all 0.5s;
        height: 40vh;
        width: 100vw;
    }
}

.icons {
    height: 1rem;
    width: 1rem;
}

.graph{
    height: 27vh;
}

.card{
    background-color: rgb(255, 255, 255);
}